*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font: arial;
}

header,footer {
    background-color: #333;
    text-decoration-color: #fff;
    align-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center; 
    padding: 20px; 
    gap: 20px;
    align-items: center;
    padding: 20px; 
    grid-gap: 20px;
}

.grid-item {
    border: 5px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s;
}

.grid-item:hover {
    transform: scale(1.05); 
}

.grid-item img {
    width: 100%;
    display: block;
}